/*.optionAtlet{
	background: #00bcd4;
	padding: 5px;
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	font-weight: bold;
	font-family: 'calibri';
	margin: 0 0 10px 0;
	width: 300px;
	color: #fff;
}

.optionMid{
	background: #00bcd4;
	padding: 5px;
	border-radius: 15px;
	border: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	font-weight: bold;
	font-family: 'calibri';
	margin: 0 0 10px 0;
	width: 100%;
	color: #fff;
}*/
#wellnessCalender h2{
	font-size:1.5rem;
	text-transform:uppercase;
	line-height:35px
}

#wellnessCalender .fc-day-header{
	text-transform:uppercase;
	font-weight:400
}
#recoveryCalender h2{
	font-size:1.5rem;
	text-transform:uppercase;
	line-height:35px
}

#recoveryCalender .fc-day-header{
	text-transform:uppercase;
	font-weight:400
}
.sea-games {
	background: center no-repeat url(../../cover/cover.jpg);
	height: 300px;
	width: 100%;
	display: block;
	background-size: cover;
	background-position: center center;
}

#imgContainer {
	width: 100%;
	text-align: center;
	position: relative;
}
#imgArea {
	display: inline-block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	position: relative;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#imgArea img {
	outline: medium none;
	vertical-align: middle;
	width: 100%;
}
#imgChange {
	background: transparent;
}
#imgChange input[type="file"] {
	bottom: 0;
	cursor: pointer;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
}
/* Progressbar */
.progressBar {
	background: none repeat scroll 0 0 #E0E0E0;
	left: 0;
	padding: 3px 0;
	position: absolute;
	top: 50%;
	width: 100%;
	display: none;
}
.progressBar .bar {
	background-color: #FF6C67;
	width: 0%;
	height: 14px;
}
.progressBar .percent {
	display: inline-block;
	left: 0;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 100%;
}


/*MODAL IMAGE */